doctype html 
html(lang='fr')
  head 
    title="Allez l'OM ❤️"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body 
    h1 C'était le 26 mai 93
    h2= buteurName 
    img(src="data:image/jpg;base64," + buteurB64Image)
